.card {
	overflow: hidden;
	position: relative;
}

.card__media {
	position: relative;
}

.card__body {
	position: relative;
	text-align: center;
	top: calc(-1 * var(--globals-space-300));
}

.card__body-wrap {
	width: 100%;
}

.card__category {
	background-color: var(--globals-neutral-900);
	border: 7px solid var(--globals-neutral-100);
	border-radius: 3px;
	color: var(--globals-neutral-100);
	display: inline-block;
	font-weight: var(--globals-font-weight-900);
	padding: var(--globals-space-100);
	text-transform: uppercase;
	text-decoration: none;
}

.card__category:hover,
.card__category:focus,
.card__category:active {
	border: 7px solid var(--globals-turquoise-100);
	color: var(--globals-turquoise-100);
}

.card__headline {
	font-weight: var(--globals-font-weight-700);
	text-align: left;
	text-transform: uppercase;
}

.card__headline a {
	color: var(--globals-neutral-900);
}

.card__headline a:hover,
.card__headline a:focus,
.card__headline a:active {
	text-decoration: underline;
}

.card__text {
	font-size: var(--globals-font-size-200);
	text-align: left;
}
