html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}
body {
	color: #202427;
	font-size: 100%;
	line-height: 1.618;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
	color: blue;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
p,
ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

button {
	padding: 0.5rem 1rem;
	font-weight: bold;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
}

@media (min-width: 48em) {
	.container {
		padding: 0 2rem;
	}
}

@media (min-width: 75em) {
	.container {
		max-width: 1200px;
		padding: 0 1rem;
	}
}
