.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-800);
}

.mission__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.mission .btn {
  margin-top: auto;
}