.mission {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  'image image image image'
  'intro intro intro intro'
  'button button button button';
  gap: var(--space-800);
}

@media (min-width: 48em) {
  .mission {
    grid-template-areas: 
    'intro intro intro .'
    'button image image image';
  }
}

.mission__intro {
  grid-area: intro;
}

.mission .btn {
  align-self: start;
  justify-self: start;
  grid-area: button;
}

.mission__media {
  grid-area: image;
}

.mission__headline {
  margin-bottom: var(--space-400);
}

.mission__text {
  font-size: var(--font-size-400);
}